@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4" style="background-color:yellow;">Hoşgeldiniz</h1>
    <h3 style="background-color:Tomato;">Öğrenci-Sınıf İşlemleri Projesi</h3>
    <h4>Büyük işler küçük adımlar ile başlar.</h4>
    <p>Gaffar Alperen Özbay tarafından yapılan kendi küçük ama geleceği büyük olan bir proje.</p>
</div>