@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <a class="btn btn-secondary" asp-action="OgrenciEkle" asp-controller="Ogrenci">Öğrenci Ekle</a>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Ogrenci">Öğrenci Listesi</a>
</div>